<a href="https://colab.research.google.com/github/kbee181756/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Sunday_Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

In [0]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [4]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [5]:
pd.set_option("display.max_rows", 100)
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [6]:
df["BedroomAbvGr"].head(10)

0    3
1    3
2    3
3    3
4    4
5    1
6    3
7    3
8    2
9    2
Name: BedroomAbvGr, dtype: int64

In [7]:
df.BedroomAbvGr.head(10)

0    3
1    3
2    3
3    3
4    4
5    1
6    3
7    3
8    2
9    2
Name: BedroomAbvGr, dtype: int64

In [8]:
df[["BedroomAbvGr", "Fireplaces"]].head(10)

   BedroomAbvGr  Fireplaces
0             3           0
1             3           1
2             3           1
3             3           1
4             4           1
5             1           0
6             3           1
7             3           2
8             2           2
9             2           2

In [9]:
df["LotFrontage"].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [0]:
import numpy as np

In [11]:
df["LotFrontage"].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [12]:
type(np.nan)

float

In [13]:
small_df = df[["TotalBsmtSF", "1stFlrSF", "2ndFlrSF", "SalePrice"]].copy()
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [14]:
small_df["TotalSquareFootage"] = small_df["TotalBsmtSF"]+ small_df['1stFlrSF']+ small_df["2ndFlrSF"]
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [15]:
small_df["PricePerSqFt"] = small_df["SalePrice"] / small_df["TotalSquareFootage"]
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage  PricePerSqFt
0          856       856       854     208500                2566     81.254871
1         1262      1262         0     181500                2524     71.909667
2          920       920       866     223500                2706     82.594235
3          756       961       756     140000                2473     56.611403
4         1145      1145      1053     250000                3343     74.783129

In [0]:
# Working with String

In [17]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-19 17:15:33--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.72M   392KB/s    in 59s

2020-01-19 17:16:33 (376 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [18]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
import pandas as pd

In [20]:
df_lc = pd.read_csv("LoanStats_2018Q4.csv", header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [21]:
df_lc.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [22]:
pd.set_option("display.max_rows", 200)
df_lc.isnull().sum().sort_values(ascending=True)

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11701
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20942
next_pymnt_d                                   26736
mths_since_last_delinq                         72190
mths_since_recent_revol_delinq                 91620
mths_since_last_major_derog                    99223
mths_since_recent_bc_dlq                      103232
sec_app_open_acc                              111619
sec_app_mort_acc                              111619
sec_app_inq_last_6mths                        111619
sec_app_earliest_cr_line                      111619
revol_bal_joint                               111619
sec_app_open_act_il                           111619
annual_inc_joint                              111619
dti_joint                                     111619
sec_app_collections_12_mths_ex_med            111619
sec_app_chargeoff_within_12_mths              111619
sec_app_num_rev_accts                         111619
sec_app_revol_util                            111877
mths_since_last_record                        112950
verification_status_joint                     113553
sec_app_mths_since_last_major_derog           123245
debt_settlement_flag_date                     127946
settlement_date                               127946
settlement_amount                             127946
settlement_status                             127946
settlement_term                               127946
settlement_percentage                         127946
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_reason                               128164
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
orig_projected_additional_accrued_interest    128191
url                                           128397
member_id                                     128397
desc                                          128397
id                                            128397
dtype: int64

In [0]:
df_lcone = df_lc.drop(["url", "member_id", "desc", "id"], axis = 1)

In [24]:
df_lcone.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [25]:
df_lcone["int_rate"].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [26]:
df_lcone["int_rate"][3]

' 12.98%'

In [27]:
type(df_lcone["int_rate"][3])

str

In [0]:
int_rate = " 12.98%"

In [29]:
int_rate.strip()

'12.98%'

In [30]:
int_rate.strip("%")

' 12.98'

In [31]:
int_rate.strip().strip("%")

'12.98'

In [32]:
float("12.98")

12.98

In [33]:
float(int_rate.strip().strip("%"))

12.98

In [34]:
type(float(int_rate.strip().strip("%")))

float

In [0]:
# Write a function

In [0]:
def myfunc(cell_contents):
  return (float(cell_contents.strip().strip("%")))

In [37]:
myfunc(int_rate)

12.98

In [0]:
# Apply to every cell in column
new_list = []

In [0]:
# For Loop

for cell in df_lcone["int_rate"]:
  new_list.append(myfunc(cell))

In [40]:
new_list[:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [0]:
# Convert List to a new column

In [42]:
df_lcone["int_rate_cleaned"] = pd.Series(new_list)
df_lcone.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0       6000         6000  ...             24.0            14.47
1      24000        24000  ...              NaN            10.33
2      30000        30000  ...              NaN            15.02
3       8000         8000  ...              NaN            12.98
4      22400        22400  ...              NaN            16.14

[5 rows x 141 columns]

In [43]:
df_lcone.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
int_rate_cleaned                              float64
dtype: object

In [0]:
# Improve code with .apply function

In [45]:
df_lcone["int_rate_cleaned2"] = df_lcone["int_rate"].apply(myfunc)
df_lcone.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned int_rate_cleaned2
0       6000         6000  ...             14.47             14.47
1      24000        24000  ...             10.33             10.33
2      30000        30000  ...             15.02             15.02
3       8000         8000  ...             12.98             12.98
4      22400        22400  ...             16.14             16.14

[5 rows x 142 columns]

In [46]:
df_lcone["emp_title"].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [47]:
# Unique Employment Titles
df_lcone["emp_title"].unique()

array(['Manager', 'Maintenance Manager', 'Firefighter ', ...,
       'Oncology Medical Assistant', 'Tax Consultant', 'Payoff Clerk'],
      dtype=object)

In [48]:
len(df_lcone["emp_title"].unique())

43890

In [49]:
df_lcone["emp_title"].isnull().sum()

20942

In [0]:
import numpy as np

In [0]:
examples = ["owner", "Supervisor", "Project Manager", np.nan]

In [0]:
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

In [53]:
# Create a For Loop
for title in examples:
  print(clean_title(title))

Owner
Supervisor
Project Manager
Unknown

In [54]:
# Using a list comprehension
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df_lcone["emp_title"] = df_lcone["emp_title"].apply(clean_title)

In [56]:
df_lcone.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned int_rate_cleaned2
0       6000         6000  ...             14.47             14.47
1      24000        24000  ...             10.33             10.33
2      30000        30000  ...             15.02             15.02
3       8000         8000  ...             12.98             12.98
4      22400        22400  ...             16.14             16.14

[5 rows x 142 columns]

In [57]:
df_lcone["emp_title"].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [58]:
len(df_lcone["emp_title"].unique())

34899

In [59]:
df_lcone["emp_title"].isnull().sum()

0

In [60]:
df_lcone.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       ...
       'hardship_last_payment_amount', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'int_rate_cleaned', 'int_rate_cleaned2'],
      dtype='object', length=142)

In [0]:
mylist = []
for col in df_lcone:
  if col.endswith("_d"):
    mylist.append(col)

In [62]:
print(mylist)

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [63]:
print(df_lcone["issue_d"][:0])

Series([], Name: issue_d, dtype: object)

In [0]:
mycols = [col for col in df_lcone.columns if col.endswith("_d")]

In [65]:
print(mycols)

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [66]:
df_lcone["issue_d"][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [67]:
df_lcone["issue_d"] = pd.to_datetime(df_lcone["issue_d"], infer_datetime_format=True)
df_lcone[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [68]:
df_lcone["issue_d"].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [69]:
df_lcone["issue_d"].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
# Feature Engineering with dt accessor

In [71]:
df_lcone=df_lcone[mycols].copy()
df_lcone["year"] = df_lcone["issue_d"].dt.year
df_lcone.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018

In [72]:
df_lcone=df_lcone[mycols].copy()
df_lcone["month"] = df_lcone["issue_d"].dt.month
df_lcone.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  month
0 2018-12-01     Apr-2019          NaN           Nov-2019     12
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019     12
2 2018-12-01     Feb-2019          NaN           Nov-2019     12
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019     12
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019     12

In [73]:
df_lcone.dtypes[-2:]

last_credit_pull_d    object
month                  int64
dtype: object

In [74]:
df_lcone["last_credit_pull_d"] = pd.to_datetime(df_lcone["last_credit_pull_d"], infer_datetime_format=True)
df_lcone.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  month
0 2018-12-01     Apr-2019          NaN         2019-11-01     12
1 2018-12-01     Dec-2019     Jan-2020         2019-11-01     12
2 2018-12-01     Feb-2019          NaN         2019-11-01     12
3 2018-12-01     Dec-2019     Jan-2020         2019-12-01     12
4 2018-12-01     Dec-2019     Jan-2020         2019-11-01     12

In [0]:
# Date Arithmetic

In [76]:
df_lcone["last_credit_pull_d"]- df_lcone["issue_d"]

0        335 days
1        335 days
2        335 days
3        365 days
4        335 days
           ...
128392    31 days
128393   396 days
128394   396 days
128395   396 days
128396   396 days
Length: 128397, dtype: timedelta64[ns]

In [77]:
df_lcone["day_diff"] = (df_lcone["last_credit_pull_d"] - df_lcone["issue_d"]).dt.days
df_lcone.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  month  day_diff
0 2018-12-01     Apr-2019          NaN         2019-11-01     12     335.0
1 2018-12-01     Dec-2019     Jan-2020         2019-11-01     12     335.0
2 2018-12-01     Feb-2019          NaN         2019-11-01     12     335.0
3 2018-12-01     Dec-2019     Jan-2020         2019-12-01     12     365.0
4 2018-12-01     Dec-2019     Jan-2020         2019-11-01     12     335.0

In [78]:
df_lc["term"].head()

0     36 months
1     36 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

In [79]:
type(df_lc["term"][2])

str

In [0]:
term = " 36 months"

In [81]:
term.strip()

'36 months'

In [82]:
term.strip("months")

' 36 '

In [83]:
float(" 36 ")

36.0

In [84]:
float(term.strip().strip("months"))

36.0

In [85]:
type(float(term.strip().strip("months")))

float

In [0]:
def myfucct(cell_contents_2):
  return float(cell_contents_2.strip().strip("months"))

In [87]:
myfucct(term)

36.0

In [88]:
type(myfucct(term))

float

In [0]:
newer_list = []

In [0]:
for cell2 in df_lc["term"]:
  newer_list.append(myfucct(cell2))

In [91]:
newer_list[:10]

[36.0, 36.0, 36.0, 36.0, 60.0, 36.0, 60.0, 36.0, 36.0, 60.0]

In [0]:
df_lc["term"] = pd.Series(newer_list)

In [93]:
df_lc.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [94]:
df_lc["loan_status"].head(50)

0            Charged Off
1                Current
2             Fully Paid
3                Current
4                Current
5                Current
6                Current
7                Current
8                Current
9                Current
10               Current
11               Current
12               Current
13            Fully Paid
14               Current
15            Fully Paid
16               Current
17               Current
18               Current
19    Late (31-120 days)
20               Current
21               Current
22           Charged Off
23            Fully Paid
24               Current
25            Fully Paid
26               Current
27            Fully Paid
28               Current
29               Current
30               Current
31            Fully Paid
32            Fully Paid
33            Fully Paid
34               Current
35            Fully Paid
36               Current
37            Fully Paid
38               Current
39               Current
40            Fully Paid
41            Fully Paid
42            Fully Paid
43               Current
44            Fully Paid
45       In Grace Period
46            Fully Paid
47           Charged Off
48               Current
49               Current
Name: loan_status, dtype: object

In [95]:
df_lc["loan_status"].unique()

array(['Charged Off', 'Current', 'Fully Paid', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)', 'Default'], dtype=object)

In [96]:
df_lc["loan_status"].value_counts()

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

In [0]:
cases = ["Current", "Fully Paid", "Charged Off", "Late (31-120 days)", "In Grace Period", "Late (16-30 days)", "Default"]

In [98]:
print(cases)

['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)', 'Default']

In [0]:
loan_status_is_great_list = []
def loan_status_is_great(status):
  if loan_status == "Current" or loan_status == "Fully Paid":
    return 1
  else:
    return 0

In [0]:
for status in df_lc["loan_status"]:
  print(loan_status_is_great(loan_status))

In [108]:
df_lc["loan_status_is_great"] = df_lc["pymnt_plan"].apply(loan_status)
df_lc.head(10)

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...             24.0                     0
1 NaN        NaN  ...              NaN                     0
2 NaN        NaN  ...              NaN                     0
3 NaN        NaN  ...              NaN                     0
4 NaN        NaN  ...              NaN                     0
5 NaN        NaN  ...              NaN                     0
6 NaN        NaN  ...              NaN                     0
7 NaN        NaN  ...              NaN                     0
8 NaN        NaN  ...              NaN                     0
9 NaN        NaN  ...              NaN                     0

[10 rows x 145 columns]

In [117]:
df_lc["loan_status_is_great"].unique()

array([0])

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
df_lcone.head() # "rev_util"

In [0]:
df_lcone.h

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01